@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.app {
    position: relative;
    margin-left: 20%;
    margin-top: 50px;
}

body {
    background-color: #eee;
    
}

*, *:before, *:after {
  box-sizing: border-box;
}

h2 {
    font-family: "Lato", sans-serif;
}

li {
    font-family: "Lato", sans-serif;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    width: 35%;
    box-shadow: 0px 4px rgb(177, 170, 170);
    list-style-type: none;
    
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: white;
    font-size: 18px;
    transition: 0.2s;
    border: 1px outset rgb(214, 214, 214);
    border-left: hidden;
    border-right: hidden;
    
}

#myInput {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 350px;
    outline: none;
    font-size: 20px;
}
  
