@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.container {
    width: 800px;
    margin: auto;
}

h1 {
    color: aliceblue;
    background-color: rgb(185, 184, 184);
    text-shadow: 2px 2px rgb(83, 84, 87) ;
    text-transform: uppercase;
}

#section02 {
    display: block;
    width: 800px;
    padding-top: 300px;
    margin: auto;
}

#audio01 {
    display: block;
}

.überschrift2 {
    text-align: center;
}

.überschrift3 {
    text-align: center;
}

.überschrift4 {
    margin-top: 50px;

}

#video01 {
    
    height: 400px;
}

p.gifInfo {
    display: block;
    background-color: rgb(135, 149, 211);
    width: 35%;
    padding: 10px;
}

.gif01 {
    height: 250px;
}


.sketches {
    width: 800px;
    height: 150px;
    display: block;
    transition: transform  0.5s;
}

.sketchContainer:hover > .sketches:hover {
    transform: scale(1.1);
    width: 600px;
    height: 300px;
    padding-left: 12.5%;
    opacity: 1;
}

.sketchContainer:hover .sketches {
    opacity: 0.5;
    transition: opacity 0.5s;
}


.charDesign {
    display: inline-block;
    height: 250px;
        
}