@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

p, h1 ,h3 {
    font-family: "Lato", sans-serif;
}

#banner {
    background: rgb(134, 134, 134);
    display: block;
    padding: 10px 120px;
    position: fixed;
    margin-left: 77%;
}

#banner .inhalt {
    position: relative;
    width: 100px;
    height: 35px;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: white;
}

.logo {
    display: block;
    height: 150px;
    padding-left: 30%;

    
}

.logo:hover {

    content: url(my_material/Logo/Skytecc\ Logo\ 02.svg);
    
}

li a:hover:not(.active) {
    
    color: white;
    text-decoration: underline;
    background-color: rgb(183, 183, 187);
}

.active a {
    text-decoration: underline;
    color: white;
    background-color: rgb(183, 183, 187);
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 33%;
    overflow: hidden;
}


li a {
    color: rgb(53, 53, 53);
    float: right;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: box-shadow .3s;
    
}

.backgroundPic {
    background-image: url("my_material/Design/Glow\ Übung.jpg");
    position: absolute;
    width: 100%;
    height: 400px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 65%;
    z-index: -1;

    animation-name: slider;
    animation-duration: 5s;
    

}

footer {
    background-color: #eaeaea;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.kontaktdaten {
    font-size: small;
    color: black;
    text-align: left;
    font-family: 'Lato', sans-serif;
}
.icons {
    font-size: small;
    color: black;
    text-align: center;
    height: 25px;
    opacity: 25%;
}

.icons:hover {
    opacity: 100%;
}

.containerIcons {
    width: 110px;
}

.copyright {
    font-size: small;
    color: black;
    text-align: right;
    
}