.logo {
    display: block;
    height: 150px;
    padding-left: 30%;
    
}

.logo:hover {

    content: url(my_material/Logo/Skytecc\ Logo\ 02.svg);
    
}

ul li a:hover {
    
    color: white;
    text-decoration: underline;
    background-color: rgb(183, 183, 187);
}

li {
    float: right;
    top: auto;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 33%;
    overflow: hidden;
}


li a {
    color: rgb(53, 53, 53);
    float: left;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: box-shadow .3s;
    
}

.backgroundPic {
    position: absolute;
    width: 99%;
    height: 400px;
    z-index: -1;
}

.containerIntroduction {
    margin-top: 400px;
    margin-left: 33%;
}

.photo {
    height: 250px;
    margin-left: 33%;
}

.containerFooter {
    width: 800px;
    margin: auto;
}


footer {
    background-color: #eaeaea;
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

.copyright {
    float: right;
    font-size: 50%;
    padding-right: 150px;
}

.kontaktdaten {
    height: 5px;
    font-size: 85%;
    
}

.containerIcons {
    padding-top: 10px;
    padding-left: 38%;
}

.icons {
    height: 25px;
    
}