
.container {
    width: 800px;
    margin: auto;
    padding: 10px;

}

.containerFooter {
    width: 800px;
    margin: auto;
}

footer {
    background-color: #eaeaea;
    width: 100%;
    height: 150px;
}

.copyright {
    float: right;
    margin-right: 25%;
    margin-top: 50px;
    font-size: 85%;
}

.kontaktdaten {
    
    height: 5px;
    font-size: 85%;
    
}



.logo {
    display: block;
    height: 150px;
    padding-left: 30%;
    
}

.logo:hover {

    content: url(my_material/Logo/Skytecc\ Logo\ 02.svg);
    
}

.backgroundPic {
    position: absolute;
    width: 99%;
    height: 400px;
    z-index: -1;
}

h1 {
    color: aliceblue;
    background-color: rgb(185, 184, 184);
    text-shadow: 2px 2px rgb(83, 84, 87) ;
    text-transform: uppercase;
}

#section02 {
    display: block;
    width: 800px;
    padding-top: 300px;
    margin: auto;
}

ul li a:hover {
    
    color: white;
    text-decoration: underline;
    background-color: rgb(183, 183, 187);
}

li {
    float: right;
    top: auto;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 33%;
    overflow: hidden;
}


li a {
    color: rgb(53, 53, 53);
    float: left;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: box-shadow .3s;
    
}


#audio01 {
    display: block;
}

.überschrift2 {
    text-align: center;
}

.überschrift3 {
    text-align: center;
}

.überschrift4 {
    margin-top: 50px;

}

#video01 {
    
    height: 400px;
}

p.gifInfo {
    display: block;
    background-color: rgb(135, 149, 211);
    width: 35%;
    padding: 10px;
}

.gif01 {
    height: 250px;
}

.sketches {
    height: 250px;
    display: block;
    
    
}

.charDesign {
    display: inline-block;
    height: 250px;
        
}