body {
    background-color: black;
}

.icon {
    position: relative;
    right: 30px;
}

.btn {
    position: relative;
    color: white;
    font-size: 50px;
    left: 50%;
    margin-top: 10px;
}

.rmxBtn {
    position: relative;
    color: white;
    font-size: 50px;
    left: 120px;
}

#trash {
    position: relative;
    color: white;
    font-size: 50px;
    left: 220px;
}

.drumpad {
    position: relative;
    margin: auto;
    width: 500px;
    height: 500px;  /* Box größe reiht die automatisch in 3 Reihen. bsp. 80px zu klein für automatische Reihen*/
}

.button {
    border: none;
    border-radius: 4px;
    height: 150px;
    width: 150px;
    margin: 4px 2px;
}

.buttonR1 {
    background-image: linear-gradient(#3d94f5, #2268d5);
}

.buttonR2 {
    background-image: linear-gradient(#ff57ae, #f00a81);
}

.buttonR3 {
    background-image: linear-gradient(#f5a23c, #c76702);
}